<!DOCTYPE html>
<html>
    <head>
        <meta name = "viewport" content="width=device-width, initial-scale=1.0" />
        <meta charset="utf-8" />
        <title>Login</title>
        <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='style.css') }} />
    </head>
    <body>
        <div class="container">
            <div class="title">
                <div style="display: flex;align-items: center;justify-content: center;height: 100%;">失敗頁面</div>
            </div>
            <div class="content">
                <div>{{message_text}}</div>
                <div><a href="/">返回首頁</a></div>
            </div>
        </div>
    </body>
</html>
