*{
    margin: 0px;
}

.container{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 100px 150px 150px;
}

.title{
    /* text-align: center; */
    font-size: 40px;
    grid-column: 1 / 4 ;
    grid-row: 1;
    background-color: rgb(4, 31, 69);
    color:white;
}

.form1{
    margin: auto;
    font-size: 20px;
    grid-column: 1 / 4;
    grid-row: 2;
    width: 100%;
}

.form1 div{
    text-align: center;
    margin: auto;
}

.form2{
    margin: auto;
    font-size: 20px;
    grid-column: 1 / 4 ;
    grid-row: 3;
    border-top: 1px solid black;
    width: 100%;
    padding-top: 10px;
}

.form2 div{
    text-align: center;
    margin: auto;
}