<!DOCTYPE html>
<html>
    <head>
        <meta name = "viewport" content="width=device-width, initial-scale=1.0" />
        <meta charset="utf-8" />
        <title>Login</title>
        <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='style.css') }} />
    </head>
    <body>
        <div class="container">
            <div class="title">
                <div style="display: flex;align-items: center;justify-content: center;height: 100%;">歡迎光臨，這是會員頁</div>
            </div>
            <div class="content">
                <div>恭喜您，成功登入系統</div>
                <div><a href="/signout">登出系統</a></div>
            </div>
        </div>
    </body>
</html>